.projects{
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #131B20;
    scroll-snap-align: start;
    
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 150%;
    margin: 0px 9%;
   
}
.random-line{
    width: 4px;
    height: 150px;
    margin-top: 4rem !important;
    background-color: #E47457;
    margin: 75px auto;
    border: none;
    border-radius: 5px;
}
.projects-list a {
    background-color: black;
    padding: 20px;
    transition: transform 0.7s;
}
.projects-list a:hover{
    background-color: #1E2025;
}

.projects-list a:hover{
    transform: translate3d(0.5rem, -0.2in, 0.5rem);
}
.projects h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}