.skills-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #161F4A;
    scroll-snap-align: start;
    padding: 32px;
   
}
.skill-right{
    flex: 0.5;
}
.skill-left{
    flex: 1;
    position: relative;
    background-color: white;
    top: -64px;
    padding: 32px;
}
.skills-title{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-top: 32px;
    gap: 32px;
}
.skills-title ul{
    list-style: none;
    padding: 0;
}