.contact{
    width: 100%;
    height: calc(100vh - 50px);
    /* background-color: yellow; */
    scroll-snap-align: start;
    background-color: #131B20;
    display: flex;
}

.contact-left{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.contact-right{
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.form-submit{
    display: grid;
    color: white;   
    padding: 18px;
    border: 1px solid;
    background-color: #161F4A;
    border-radius: 12px;
    box-shadow: 0 0 2px 2px blue;
}
.send-message{
    background-color: black;
    color: white;
    border-radius: 12px;
}
.display-email{
    cursor: pointer;
}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }

.display-email{
    animation: pulse 1s linear infinite;
}
.message-reply{
    position: relative;
    bottom: 0;
    color: green;
    z-index: 44;
}
.contact-left-media{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}