.profile{
        /* width: 100%; */
        height: 100vh;
        background-color: #131B20;
        scroll-snap-align: start;
        background-image: url('../../assets/tomi.png');
        background-size:100% 100%;
        background-repeat: no-repeat;
        image-resolution: 300dpi;
        overflow: hidden;
}
.name{
    flex: 0.5;
    display: flex;
    height: 100vh;
    justify-content: end;
    align-items: flex-end;
    font-size: 200px;
    line-height: 180px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url('../../assets/hexagon.jpg');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 54vh;
    color: white;
}
.profile-right {
    display: grid;
    flex: 0.5;
}
.social-medias{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 54vh;
}
.facebook{
    height: 35px;
    width: 35px;
    border: 1px solid;
    fill: #161F4A;
    padding: 3px;
    border: 2px solid #161F4A;
    border-radius: 7px;
}
.instagram{
    fill: #E47457;
    height: 35px;
    width: 35px;
    padding: 3px;
    border: 2px solid #E47457;
    border-radius: 7px;
}
.linkedin{
    fill: #161F4A;
    height: 35px;
    width: 35px;
    border: 2px solid #161F4A;
    padding: 3px;
    border-radius: 7px;
}
.github{
    fill: #E47457;
    height: 35px;
    width: 35px;
    padding: 3px;
    border: 2px solid #E47457;
    border-radius: 7px;
}