.app{
    height: 100vh;
    scroll-snap-align: start;
}
.sections{
    width: 100%;
    height: calc(100vh - 50px);
    // background-color: olive;
    position: relative;
    top: 50px;
    scroll-snap-type:y mandatory;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
